 <div class="user-details">
  <h1> My Expertise </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>OS</h2>
       <i class="devicon-linux-plain colored"></i>
        <i class="devicon-windows8-original colored"></i>
      <p>In my career I was able to develop for both Linux (embedded) and Windows</p>
    </div>
    <div class="tech">
      <h2>Code</h2>
      <i class="devicon-csharp-plain colored"></i>
       <i class="devicon-cplusplus-plain colored"></i>
        <i class="devicon-java-plain colored"></i>
           <i class="devicon-python-plain colored"></i>
      <p>Some of the Programming languages I used during my studies and my career</p>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-git-plain"></i>
      <i class="devicon-bitbucket-plain-wordmark colored"></i>
       <i class="devicon-visualstudio-plain-wordmark colored"></i>
       <i class="devicon-vim-plain colored"></i>
        <i class="devicon-confluence-plain-wordmark colored"></i>
         <i class="devicon-github-plain colored"></i>
          <i class="devicon-gitlab-plain-wordmark colored"></i>
      <p>As consultant in various project I had the possibility to work with various tools.
      I daily use different tools intended for project management, versioning, and development</p>
    </div>
</div>
